* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    
    height: 800px;
    width: 800px;
    
}

.app-middle {
    display: flex;
    flex-direction: row;
}